* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* Flexbox layout */
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
    
.mid{
	display: flex; 
	flex-direction: row; 
	flex: 1;
} 
